@import url(styles/header.css);
@import url(styles/banner.css);
@import url(styles/carrossel.css);
@import url(styles/topicos.css);
@import url(styles/contato.css);
@import url(styles/rodape.css);
@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:ital,wght@0,100..700;1,100..700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

*{
    margin: 0;
    padding: 0;
}
:root {
    --cor-de-fundo: #EBECEE;
    --branco: #FFFFFF;
    --laranja: #EB9B00;
    --laranja-claro: #e3a62a;
    --azul-degrade: linear-gradient(97.54deg, #002F52 35.49%, #326589 165.37%);
    --azul: #002F52;
    --preto: #000000;
    --cinza: #474646;
    --cinza-titulo: #858585;

    --fonte-principal: 'Popins', sans-serif;
    --fonte-tablet: 'Josefin Sans', sans-serif;
}

body {
    font-family: 'Poppins', sans-serif;
    background-color: var(--cor-de-fundos);
}